

.myTable{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 284px;
}

.myTable2{
  height: 500px;
}

.myTable3{
  height: 350px;
}

.table-responsive{
    overflow-x: hidden !important;
}

.textWrapper{
  max-height: 100px;
  overflow: scroll;
  
}

.cornerborder {
  position: relative;
  top: -103%;
    left: 0%;
    height: 45px;
}

.textWrapper::-webkit-scrollbar{
  display: none;
}

  .maxh-175{
    min-height: 175px;
    max-height: 175px;
    overflow: hidden;
    
  }

  .maxh-175 img{
    height: 100%;
    object-fit: cover;
  }

  .maxh-478{
    max-height: 395.59px;
    
  }

  .maxh-478 .card-body{
    display: flex;
    flex-direction: column;
    
  }

  .overflow-scroll.maxh-235{
    overflow: scroll;
    max-height: 235px;
  }

  .overflow-scroll::-webkit-scrollbar, .card-deck.custom::-webkit-scrollbar{
    display: none;
  }

  .bg-gradient-blue.custom{
    height: calc(100% - 30px);
  }

  .min-260{
    min-width: 260.37px;
    max-width: 260.37px;
  }

  .card-deck.custom{
    overflow: scroll;
    flex-wrap: nowrap !important;
    border-radius: 7px;
    
  }

  .card-deck.custom .card{
  margin-left: 0 !important;
  margin-right: 34.4px !important;
  
  }

  .heightword {

    height: 415px

  }

  .card-deck.custom .card-title{
    margin-bottom: 5px !important;
    
  }

  .custom-btn{
    border-radius: 50%;
    overflow: hidden;
    height: 48px;
    width: 48px;
    padding: 0 !important;
    font-size: 12px !important;
  }

button.bg-white:hover{
  background-color: #ffff !important;
}

.slick-slide{
  margin-right: 35px;
  max-height: 395.59px;
}

.slick-prev, .slick-next {

  display: flex !important;
  
  justify-content: flex-end ;
  justify-content:space-evenly ;
  width: 49px !important;
  height: 49px !important;
  opacity: 10;
  padding: 0;
  border-radius: 20%;
  overflow: hidden;
  -webkit-transform: unset !important;
  transform: unset !important;
  cursor: pointer;
  color: #ffffff !important;
  border: none;
  outline: none;
  background: #ffffff !important;
  opacity: 93%;
  bottom: 0;
  z-index: 999 !important;
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.slick-next{
  right: -2%;

  
}

.slick-prev{
  
    left: -2%;

}

/* 

.slick-prev, .slick-next {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px !important;
  height: 55px !important;
  opacity: 10;
  padding: 0;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: unset !important;
  transform: unset !important;
  cursor: pointer;
  color: #ffffff !important;
  border: none;
  outline: none;
  background: #ffffff !important;
  opacity: 93%;
  bottom: 0;
  z-index: 999 !important;
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.slick-next{
  right: -2.5%;

  
}

.slick-prev{
  
    left: -2.5%;
    
} */
